{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb"],
  "globals": {
    "document": true,
    "window": true,
    "fetch": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": 0,
    "react/no-array-index-key": 0,
    "react/prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
