@font-face {
  font-family: 'Leckerli One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leckerlione/v14/V8mCoQH8VCsNttEnxnGQ-1itLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v28/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v28/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v28/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v28/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v28/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
body {
  background: #181d23;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.308);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.287);
  outline: 1px solid rgba(112, 128, 144, 0.239);
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 4px solid #2e363f;
  border-bottom-color: red;
  animation: rollAnim 0.6s linear infinite;
  margin: 50px auto;
}
@keyframes rollAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movieCard {
  margin: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.movieCard * {
  cursor: pointer;
}
.movieCard img {
  width: 50%;
  border-radius: 20px;
  transition: 0.3s;
  margin-bottom: 5px;
}
.movieCard img:hover {
  border-radius: 0;
  box-shadow: 0 0 0 3px red;
}
.movieCard div {
  width: 50%;
}
.movieCard div * {
  margin: 0;
}
.movieCard div span {
  text-transform: uppercase;
}
.movieCard div .year,
.movieCard div p {
  color: #6d7784;
}
@media screen and (max-width: 768px) {
  .movieCard {
    align-items: center;
  }
  .movieCard img {
    width: 70%;
  }
  .movieCard div {
    width: 65%;
  }
}

.list {
  box-sizing: content-box;
}
.list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100vw;
  transition: 0.5s;
}
.header h1 {
  font-family: 'Leckerli One', cursive;
  font-weight: normal;
  margin: 1% 0 1% 5%;
  color: crimson;
  user-select: none;
  transition: 0.2s;
}
.header.true {
  background: rgba(202, 202, 202, 0.329);
}
.header.true h1 {
  color: red;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.search {
  position: relative;
  margin-right: 5%;
}
.search:hover svg {
  stroke: rgba(121, 121, 121, 0.37);
}
.search input {
  cursor: pointer;
  height: 20px;
  background: none;
  outline: none;
  border: none;
  transition: 0.3s;
  width: 40px;
  padding: 10px 5px;
}
.search input.true {
  width: 300px;
  background: #aeaeae61;
}
.search input.true .sIcon {
  display: none;
}
.search input::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: red;
}
.search .sIcon {
  position: absolute;
  margin: 5px;
  z-index: -1;
  stroke: white;
  transition: stroke 0.3s;
}
.search.focused input {
  cursor: text;
}
.search.focused .sIcon {
  transform: translateX(-40px);
  stroke: red !important;
}
.results {
  position: absolute;
  background: #2e2c2c;
  padding: 0;
  height: 50vh;
  overflow-y: scroll;
  margin-top: 0;
}
.results li {
  display: flex;
  margin: 10px;
}
.results li h3 {
  margin-left: 10px;
}
.results li img {
  width: 20%;
}
.results::-webkit-scrollbar {
  width: 0.5em;
}
.results::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.308);
}
.results::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.287);
  outline: 1px solid rgba(112, 128, 144, 0.239);
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header .search {
    margin-right: -5%;
  }
}

.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}
.popup .content {
  width: 70%;
  min-height: 70%;
  height: max-content;
  padding: 2%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 7px 9px 0 0 #525252;
  background-size: cover;
  background-position: center;
}
.popup .content::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: radial-gradient(circle, #3a3a3a 0%, #575757 100%);
  position: absolute;
  z-index: 0;
  opacity: 0.6;
}
.popup .content > * {
  z-index: 2;
}
.popup .content .poster {
  object-fit: cover;
  width: 25%;
  box-shadow: -7px 7px 0px 0px red;
}
.popup .content > div {
  display: flex;
}
.popup .content .company {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 25px;
}
.popup .content .company img {
  filter: drop-shadow(0 0 5px #575757);
  width: 7%;
}
.popup .content .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.popup .content .text ul {
  display: flex;
}
.popup .content .text ul li {
  margin: 0 15px;
  text-shadow: 3px 5px 2px #474747;
}
.popup .content .text h1 {
  font-size: 5em;
  margin: 5% 10%;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc;
}
.popup .content .text h1 span {
  margin: 0 10px;
}
.popup .content .text p {
  width: 60%;
  text-shadow: 3px 5px 2px #474747;
}
.popup .closeText {
  position: absolute;
  top: 10%;
  opacity: 0.6;
}
.popup.close {
  display: none;
}
@media screen and (max-width: 500px) {
  .popup .company img {
    width: 30px;
  }
}
@media screen and (max-width: 768px) {
  .popup .content div {
    flex-wrap: wrap;
    justify-content: center;
  }
  .popup .content .poster {
    width: 50%;
  }
  .popup .content .text {
    align-items: center;
  }
  .popup .content .text ul {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .popup .content .text h1 {
    text-align: center;
    font-size: 25px;
    text-shadow: none;
  }
  .popup .content .text p {
    font-size: 14px;
    width: 80%;
  }
  .popup .content .company {
    right: 0;
    margin: 10px;
    left: unset;
  }
  .popup .content .company img {
    width: 70px;
  }
}

.mainMovie {
  overflow: hidden;
  position: relative;
}
.mainMovie img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: grayscale(0.68);
  opacity: 0.7;
  user-select: none;
}
.mainMovie .text {
  top: 30%;
  position: absolute;
  margin-left: 10%;
  z-index: 2;
}
.mainMovie .text h1 {
  font-size: 6em;
  margin: 0 20px;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc;
}
.mainMovie .text p {
  width: 33%;
  text-shadow: 3px 5px 2px #474747;
}
@media screen and (max-width: 768px) {
  .mainMovie .text {
    margin: 0 3%;
  }
  .mainMovie .text h1 {
    font-size: 4em;
    margin: 0;
    text-align: center;
  }
  .mainMovie .text p {
    width: 80%;
    margin: 20px auto;
  }
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
  user-select: none;
}
.menu li {
  color: #a0a0a0;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.3s;
}
.menu li:hover {
  color: #696c6f;
}
.menu li.active {
  color: red;
  font-size: 35px;
  font-weight: 500;
  filter: drop-shadow(0 0 0.75rem crimson);
}
@media screen and (max-width: 768px) {
  .menu {
    margin: 30px auto;
    width: 80%;
    flex-wrap: wrap;
  }
  .menu li {
    margin: 5px 15px;
    font-size: 18px;
  }
  .menu li.active {
    font-size: 25px;
  }
}

footer {
  background: rgba(109, 109, 109, 0.08);
  text-align: center;
  padding: 15px 0;
}
footer p {
  color: #8f8f8f;
  margin: 0;
  font-size: 12px;
}
footer p:first-child {
  margin-bottom: 5px;
}
footer p:first-child a {
  font-size: 10px;
}
footer p a {
  text-decoration: none;
  color: #acacac;
  transition: 0.2s;
}
footer p a:hover {
  color: #959595;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
li {
  list-style: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}


/*# sourceMappingURL=main.css.map*/