@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background: #181d23;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.308);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.287);
  outline: 1px solid rgba(112, 128, 144, 0.239);
}
