.movieCard {
  margin: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: fit-content;
  * {
    cursor: pointer;
  }

  img {
    width: 50%;
    border-radius: 20px;
    transition: 0.3s;
    margin-bottom: 5px;
    &:hover {
      border-radius: 0;
      box-shadow: 0 0 0 3px red;
    }
  }
  div {
    width: 50%;
    * {
      margin: 0;
    }
    span {
      text-transform: uppercase;
    }
    .year,
    p {
      color: #6d7784;
    }
  }
}

@media screen and (max-width: 768px) {
  .movieCard {
    align-items: center;
    img {
      width: 70%;
    }
    div {
      width: 65%;
    }
  }
}
