.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: rgba(202, 202, 202, 0.329);
  z-index: 3;
  width: 100vw;

  h1 {
    font-family: 'Leckerli One', cursive;
    font-weight: normal;
    margin: 1% 0 1% 5%;
    color: red;
    user-select: none;
  }
}
