.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: rgba(202, 202, 202, 0.329);
  z-index: 3;
  width: 100vw;
  h1 {
    font-family: 'Leckerli One', cursive;
    font-weight: normal;
    margin-left: 5%;
    color: red;
    user-select: none;
  }
  input {
    height: 20px;
    margin-right: 5%;
    background: none;
    outline: none;
    border: 1px solid rgb(146, 146, 146);
    padding: 7px 30px;
  }
}

